// ==UserScript==
// @name         layout v.3
// @namespace    http://tampermonkey.net/
// @version      0.1
// @description  try to take over the world!
// @author       You
// @include        http://wcrpforums.com/*
// @grant        GM_addStyle
// ==/UserScript==

(function() {
    'use strict';
    
//welcome menu
    //welcome menu background
    GM_addStyle("#b2{ background-color: #000000; opacity: 0.87; border: 1px solid #000; border-bottom: none; height: 26px;}");
    //welcome menu text color
    GM_addStyle("#welcome a, #b2 *{ color: #fff;}");
//navigation buttons
    //navigation main && text
    GM_addStyle(" #navigation-menu>ul li{ background-color: #000000; opacity: 0.62; border-radius: 10px 8.5px 0px 0px; padding: 1px; border-top:1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000; border-bottom: 1px solid #000000;} #navigation-menu>ul li a{ color: #ffffff; opacity: .62; font: 1em Verdana, Arial;}");
    //navigation hover
    GM_addStyle("#navigation-menu> ul li:hover a{ color: #ffffff !important; opacity: 1.0;  font: 1em Verdana, Arial; !important; background:#000000; border-radius: 15px 50px 30px}");
    //selected navagation
    GM_addStyle("#navigation-menu>ul li a.state-active{ color: #ffffff !important; opacity: 1.0; font: 1em Verdana, Arial; background:#000000; border-radius: 15px 50px 30px}");
    //navigation  bar
    GM_addStyle("#navigation-tree{background:#000000 !important; opacity: 0.72}");
    GM_addStyle(".menu_arrow span{border-color:transparent transparent transparent #38ECEC !important;}");
    GM_addStyle("#nav-tree>li:hover,#nav-tree .ui-menu li:hover{color:#efefef;background-color:#000000;}");
//particapated
    GM_addStyle(".recent-threads-button{background-color: #000000!important; opacity:0.72}");
//title bars
    //title bar standard background color
    GM_addStyle(".container>.title-bar{color:#ffffff !important; background-color: #000000; opacity: 0.85 !important;  0;}");
    //unimportant ??
    GM_addStyle(".ui-dialog .ui-dialog-titlebar{ padding: 1em 1em; position: relative; background-color: #000000;}");
    GM_addStyle(".ui-dialog .ui-dialog-title{ color: #efefef; font: bold 100% Verdana, Geneva, sans-serif; float: left; margin: .1em 16px .2em 0;}");
    GM_addStyle(".container>.title-bar>.controls li a,.container>.title-bar>.controls li div{ color: #ffffff; background-color: #000000; font: 100% Verdana, Arial;}");
    GM_addStyle(".container>.title-bar>.controls: hover li a,.container>.title-bar>.controls: hover li div{ color: #ffffff !important; font: 100% Verdana, Arial; text-decoration: !important;}");
    //text color
    GM_addStyle(".container>.title-bar h1,.container>.title-bar h2,.container,.container>.title-bar h3{ color: #efefef; font: bold 100% Verdana, Geneva, sans-serif;}");
// homepage bacground
    GM_addStyle(".container>.content,.ui-dialog .ui-dialog-content,.ui-dialog .ui-dialog-buttonpane,.container.copy .clone{ background:none scroll;}");
    GM_addStyle(".content-box{ background: none scroll; color: #efefef; font: normal normal small Verdana,Geneva,sans-serif;}");
//board container
    //background ((opacity .8 !important overrides .caterogies. opacity: 0.6))
    GM_addStyle("table.list>thead>tr>th,table.list td.icon,table.list th.icon,.created-by,.replies,.views,.threads,.posts{ background-color: #000000 !important; opacity: 0.82 !important ; color: #ffffff !important;}");
    //borders
    GM_addStyle("table.list>thead>tr>th,table.list>tbody>tr>td{border-width:0px 1px 1px 0px;border-style: hidden;}");
    //unimportant
    GM_addStyle(".container>.control-bar{ background-color:#000000 !important; opacity: 0.79; border-bottom: 1px solid #000 !important; color: #000000 !important;}");
    GM_addStyle(".ui-pagination li.state-selected>a{ background-color: #000000 !important; opacity: 0.7; color:#fff !important;}");
//caterogies
    //background
     GM_addStyle(".boards table.list>tbody>tr>td{ background-color: #000000; opacity: 0.72;}");
    //hover
    GM_addStyle(".list .item.state-hover,.list .board.item:hover,#calendar-list .item:hover{color:#efefef;background-color:#000000; opacity: .8;}");
//stats
    GM_addStyle(".stats .content{background-color: #000000 !important;opacity: 0.65;color:#efefef;}");
//shoutbox
    //background
    GM_addStyle(".shoutbox.container.full{background-color:#000000; opacity: 0.65}");
    //mods text color
    GM_addStyle(".shoutbox-post .group-17{color:##38ECEC;}");
//- - Buttons
    //background
    GM_addStyle(".button, a.button,button{color:#000000;background-color: #38ECEC;border-radius: 5px 10px !important; border: hidden}");
    //hover
    GM_addStyle(".button:hover,a.button:hover,button:hover{color:#000000;background-color: #38ECEC;border-radius: 5px 10px !important;}");
    //status submit
    GM_addStyle(".status-submit input{color:#000000;background-color: #38ECEC !important;border-radius: 5px 10px !important;}");
    //search submit
    GM_addStyle(".search .footer input {color:#000000;background-color:#38ECEC !important;border-radius: 5px 10px !important;}");
    GM_addStyle(".ui-pagination li>a,.ui-pagination li>div{color:#000000;background-color:#38ECEC !important;border-radius: 5px 10px !important;}");
// quick reply
    GM_addStyle(".container.quick-reply{background-color:#000000;opacity:0.85;}");
    //reply button
    GM_addStyle(".quick-reply .reply-button{background-color: #38ECEC !important;border-radius: 5px 10px;}");

//"new" icons
    GM_addStyle(".new-icon:hover{background:#38ECEC;}");
    GM_addStyle(".new .new-icon{background-color: #38ECEC;}");
//pop-up.html
    GM_addStyle(".popup_html ul{display:none;list-style-type:none;border:1px solid #000000;background-color: #000000 !important;opacity: 1.0 !important;}");
    GM_addStyle(".popup_html li:hover,.popup_html .ui-menu li:hover{color:#efefef;background-color:#000000;}");
      // -- Profile
//background
    GM_addStyle(".container.show-user{background-color: #000000; opacity: 0.69;}");
//nav buttons
    GM_addStyle(".ui-tabMenu ul{background: #000000;border:1px solid #000000}");
//nav list buttons
    GM_addStyle(".ui-tabMenu ul li{background: #000000;opacity: 0.62;}");
//nav list text
    GM_addStyle(".ui-tabMenu ul li a{color:#efefef;background-color: #000000;font:100% Verdana,Arial;text-decoration:none;border-radius: 10px 8.5px 0px 0px;border: hidden;}");
//hover
    GM_addStyle(".ui-tabMenu ul li:hover{background:#007aac; opacity:0.8;border-radius:5px 5px 0 0;}");
//hover text
    GM_addStyle(".ui-tabMenu ul li:hover a{color:#efefef;font:100% Verdana,Arial;text-decoration:none;}");
//selected nav button background
    GM_addStyle(".ui-tabMenu ul li.ui-active{background:#38ECEC !important; opacity:6.2;}");
//seleted nav button text
    GM_addStyle(".ui-tabMenu ul li.ui-active a{color:#efefef;text-decoration:none;}");
    // - - Search
    GM_addStyle(".container.search{background-color:#000000; opacity:0.65;}");
    // - - Memebers
    GM_addStyle(".members table.list{background-color:#000000; opacity:0.65;}");
    // - - Drafts
    GM_addStyle(".head{color:#ffffff;background-color:#000000; opacity:0.82;}");
    // - - Messages
    GM_addStyle(".list .item>.main{background-color: #000000;opacity: .65;}");
    GM_addStyle(".conversations .checkbox{background-color:#000000; opacity:0.65;}");
    GM_addStyle(".conversations .latest{background-color:#000000; opacity:0.65;}");
    GM_addStyle(".messages .item{color:#efefef;background: #000000;opacity: 0.69;border: hidden;}");
    GM_addStyle(".messages .item.even{color:#efefef;background: #000000;opacity: 0.82;border: hidden;}");
    GM_addStyle(".messages .participants{background-color: #000000;opacity: 0.85;}");
    // - - Posting
    GM_addStyle(".posts .post .message{font-weight:normal}");
    GM_addStyle(".even .mini-profile{font-weight:normal}");
    GM_addStyle("item.message.current-user.even{color:#efefef;background-color:#005073;}");
    GM_addStyle(".posts .post,.post .quote div.quote div.quote_body,.post.even .quote div.quote_body{color:#efefef;background-color:#0b0b0b;}");
    GM_addStyle(".posts .post.even,.post .quote div.quote_body,.post.even .quote div.quote div.quote_body{color:#efefef;background-color:#000000;}");
    GM_addStyle(".online-friends .mini-profile{font-weight:normal;}");
    GM_addStyle(".micro-profile {font-weight:normal}");
    GM_addStyle(".float-right{float:right;font-weight: normal;}");
    })();
